.message {

}

.imageAndText {

    margin-top: 40px;

}

.imageAndText img {
    height: 48px;
    width: 48px;
    border-radius: 30px;

}

.text {
    font-family: Arial;
    font-size: 16px;
       /*
    border: 1px solid #f80202;
    */

}

.text:after {

    /*
    border: 1px solid #f80202;
    */
}

.name {
    font-family: Arial;
    font-size: 16px;
    /*
    border: 1px solid #f80202;
    */
}

.messageText {
    font-family: Arial;
    font-size: 16px;
    /*
    border: 1px solid #f80202;
    */
}

.time {
    font-family: Arial;
    font-size: 10px;
    /*
    border: 1px solid #f80202;
    */
}