.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {
    height: 200px;
    width: 200px;
   border-radius: 100px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
