.button {
    background-color: rgb(230, 234, 239);
}

.disabled {

}

.secondary {
    background-color: #faef24;
    border-radius: 3px;
}

.default {
    background-color: #065bf8;
    color: white;
    border-radius: 3px;
}

.default:disabled {

}

.red {
    background-color: #f80606;
    border-radius: 3px;
}

.default:hover {
    background-color: rgba(6, 91, 248, 0.48);
    border-radius: 3px;
}

.red:hover {
    background-color: rgba(248, 6, 6, 0.4);
    border-radius: 3px;
}

.secondary:hover {
    background-color: rgba(250, 239, 36, 0.33);
    border-radius: 3px;
}


.default:active {
}

.secondary:active {
}

.red:active {

}

.button:disabled {
    background-color: #97f806;
    border-radius: 3px;
}
